.margin-left-50 {
  margin-left: 50px;
}

#CLBusinessExpandedInfo,
#CLBusinessExpandedInfoClickInstructions,
#ITCLPlatformExpandedInfo,
#ITCLPlatformExpandedInfoClickInstructions,
#IndustryExpandedInfo,
#IndustryExpandedInfoClickInstructions,
#ProgressiveEnterpriseExpandedInfo,
#ProgressiveEnterpriseExpandedInfoClickInstructions,
#ProgressiveEnterpriseExpandedInfoLinkInstructions {
    opacity: 0;
    font-size: 12px;
    font-style: italic;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -ms-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}
